body {
  font-family: sans-serif;
  margin: auto;
  width: 60%;
  height: 100%;

  h1 {
    margin-bottom: 1em;
  }

  a {
    text-decoration: none;
    color: darkgreen;
  }

  label {
    display: block;
  }

  .left-nav {
    float: left;
    width: 75%;
  }

  .right-nav {
    float: right;
    margin: -5px;
  }

  .icon:hover {
    fill: pink;
  }

  // nav {
  //   margin-bottom: 6em;
  // }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .active {
    color: pink;
    fill: pink
  }

  a:hover {
    color: pink;
  }

  .search-icon {
    fill: gray;
  }

  .search-button {
    padding: 1px 2px;
  }

  .search-form {
    display: inline;
    margin-left: 10%;
  }

  .note-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    cursor: pointer;
  }

  .icon {
    fill: gray;
  }

  /* Gradient color1 - color2 - color1 */

  hr {
    clear: both;
    margin-bottom: 1em;
      border: 0;
      height: 1px;
      background: #333;
      background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

  .note {
    // border: 1px solid bisque;
    width: 95%;
    background: antiquewhite;
    margin: 5% auto;
  }

  .note-buttons {
    text-align: right;
  }

  .sidebar {
    float: left;
    width: 30%;
  }

  ul {
    list-style: none;
    padding: 5%;
    margin: auto;
  }

  li {
    padding: 5%;
    max-width: 95%;
  }

  .new-project {
    width: 65%
  }

  .project-list {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  .edit-note-text {
    width: 75%
  }

  .add-note-text {
    width: 65%
  }

  .notes-list {
    float: right;
    width: 70%;
  }

  .settings {
    float: right;
    width: 65%;
  }

  .loader {
    border: 1px solid #f3f3f3;
    border-top: 1px solid gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    padding: 0;
    margin: 0;
}

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  .submit {
    padding: 0;
    margin: 0;
    height: 25px;
  }

  .project-checkbox {
    margin: 3%;
  }

  .archive-button {
    margin: 3%;
  }

  .project {
    margin: auto
  }

  .edit-project-name {
    width: 65%
  }

  .project-button {
    margin-left: 5px;
  }

  .arrow {
    vertical-align: bottom;
  }
}