body {
  font-family: sans-serif;
  margin: auto;
  width: 60%;

  a {
    text-decoration: none;
    color: darkgreen;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .active {
    color: pink;
    font-weight: bold;
  }

  img {
    max-width: 75%;
  }

  .icon {
    fill: gray;
  }

  /* Gradient color1 - color2 - color1 */

  hr {
      border: 0;
      height: 1px;
      background: #333;
      background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

  .note {
    // border: 2px solid black;
    width: 95%;
    background: antiquewhite;
  }

  .note-buttons {
    text-align: right;
  }

  .sidebar {
    float: left;
    width: 30%;
  }

  ul {
    list-style: none;
  }

  li {
    padding: 5%;
  }

  .notes-list {
    float: right;
    width: 70%;
  }
}